@mixin mixin-without-content-should-be-first() {
    right: 4px;
}

@mixin mixing-with-content-should-be-second($name, $part: null) {
    .nir {
        @content;
    }
}

.ruleset-should-be-last {
    top: 0;
    @include button-hover(top-bar-button-content) {
        g {
            fill: red;
        }
        path {
            fill: blue;
        }
    }
}
