.a-random-rule-set {
    $size: 1337px;
    @include button-asdsa()
    top: 0;
    @include button-hover(top-bar-button-content) {
        g {
            fill: red;
        }
        path {
            fill: blue;
        }
    }
}
